# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.dll

# project specific
src/_EvcSolver*
src/_CustomSolver_p.c
Package/ArcCASPER-*.zip
src/dlldata.c
src/gitdescribe.h

# Visual Studio
*.exe
*.sdf
*.opensdf
*.ncb
*.idl
*.tlb
obj/
bin/
*.pdb
reports/ipch/
*.aps
*.vsp
*.vsps
*.vspx
